html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-color: #0a0a0a;
    color: white;
}

/*------------------------------ Start Navbar --*/

.navbar {
    padding: 0;
    
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: .1rem;
    background-color: rgb(0, 0, 0, 0.8);
}

.navbar-brand {
    font-size: 1.4rem;
    letter-spacing: .2rem;
    color: #fff;
    margin-left: 5px;
}

.navbar-nav .nav-color .ml-auto li a {
    color: #fafafa;
}


/*------------------------------ End Navbar --*/

/*------------------------------ Start Hero Image --*/

.hero-image-container {
    height: 100vh;
    max-width: 100%;

    background: url('../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
/* The overlay code below was taken from the course material and all credit and acknowledgement for the code goes to Code Institute, Matt Rudge */

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
/*------------------------------ End Hero Image --*/

/*------------------------------ Start Jumbotron --*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .3rem;
    margin-bottom: 25px;
    text-shadow: .1rem .1rem .8rem black;
}

.jumbotron p {
    font-style: italic;
    font-weight: 400;
    color: rgb(250, 243, 243);
    text-shadow: .1rem .1rem .9rem black;
}
/*------------------------------ End Jumbotron --*/

/*------------------------------ Start Introduction --*/
.introduction {
    background-color: #212121;
    padding: 40px 40px;
}

.h-lead {
    text-transform: uppercase;
    font-weight: bold;
}

.p-lead {
    font-size: 1rem;
}
/*------------------------------ End Introduction --*/

/*------------------------------  Start Bar Seperator --*/
.short-bar {
    
    width: 10%;
    border: 1px solid #fafafa;
    border-radius: 5%;
    background-color: #fafafa;
    z-index: 1;
}

.long-bar {
    background-color: #bdbdbd;
    width: 60%;
}

.medium-bar {
    background-color: #4d4c4c;
    width: 35%;
}
/*------------------------------  End Bar Seperator --*/

/*------------------------------  Start Footer --*/
.nav .nav-item a {
    margin-bottom: 10px;
    color: #616161;
    font-weight: bold;
    font-size: .6rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
}
.nav .nav-item .active {
    color: white;
}

.nav .nav-item a:hover {
    color: #bdbdbd;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 1.6rem;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #424242;
}    

.copyright-text {
    color: #fafafa;
    font-size: .7rem;
}
/*------------------------------  End Footer --*/


/*------------------------------  Start Hero image (Origins Page) --*/
.hero-image-origins-container {

    height: 70vh;
    max-width: 100%;

    background: url('../images/origins-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display:block;

    position: relative;
}

.image-credit {
    text-align: left;
    color: #626262;
    font-size: .75rem;
}
/*------------------------------  End Hero Image (Origins Page) --*/

/*------------------------------  Start Page Content --*/
.page-title h2 {
    font-size: 2.5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fafafa;
    line-height: 1.15;
}

.page-summary p {
    font-style: italic;
    color: #8e8e8e;
    font-size: 1.2rem;
}

.page-content p {
    display: block;
    color: #fafafa;
    text-align: left;
    font-size: 1rem;
}
/*------------------------------  End Page Content --*/