html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-color: #000;
    color: white;
}

/*------------------------------ Start Navbar --*/

.navbar {
    padding: 0;
    
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: .1rem;
    background-color: rgb(0, 0, 0, 0.8);
}

.navbar-brand {
    font-size: 1.4rem;
    letter-spacing: .2rem;
    color: #fff;
    margin-left: 5px;
}

.navbar-nav .nav-color .ml-auto li a {
    color: #fafafa;
}

/*------------------------------ End Navbar --*/

/*------------------------------ Start Hero Image (Landing Page) --*/

.hero-image-container {
    height: 100vh;
    max-width: 100%;

    background: url('../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* The overlay code below was taken from the "Whiskey Drop" course material and all credit and acknowledgement for the code goes to Code Institute, Matt Rudge */

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
/*------------------------------ End Hero Image --*/

/*------------------------------ Start Jumbotron --*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .3rem;
    margin-bottom: 25px;
    text-shadow: .1rem .1rem .8rem black;
}

.jumbotron p {
    font-weight: bold;
    color: rgb(250, 243, 243);
    text-shadow: .1rem .1rem .9rem black;
}

/*------------------------------ A fix to the Jumbotron being to large on width at 320px --*/
@media screen and (max-width: 320px) {
    .jumbotron-header {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    margin-bottom: 25px;
    text-shadow: .1rem .1rem .8rem black;
    }
}

@media screen and (max-width: 320px) {
    .jumbotron p {
    font-weight: bold;
    font-size: 1rem;
    color: rgb(250, 243, 243);
    text-shadow: .1rem .1rem .9rem black;
    }
}
/*------------------------------ End Jumbotron Fix --*/

/*------------------------------ End Jumbotron --*/

/*------------------------------  Start Bar Seperator --*/

.short-bar {
    
    width: 10%;
    border: 1px solid #fafafa;
    border-radius: 5%;
    background-color: #fafafa;
    z-index: 1;
}

.long-bar {
    background-color: #fafafa;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.medium-bar {
    background-color: #4d4c4c;
    width: 35%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content-bar {
    background-color: #4d4c4c;
    left: 100px;
    width: 25%;
}

/*------------------------------  End Bar Seperator --*/

/*------------------------------  Start Footer --*/

.nav .nav-item a {
    margin-bottom: 10px;
    color: #616161;
    font-weight: bold;
    font-size: .6rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
}
.nav .nav-item .active {
    color: white;
}

.nav .nav-item a:hover {
    color: #bdbdbd;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 1.6rem;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #424242;
}    

.copyright-text {
    color: #fafafa;
    font-size: .7rem;
}

/*------------------------------  End Footer --*/


/*------------------------------  Start Hero image (Origins Page) --*/

.hero-image-origins-container {

    height: 70vh;
    max-width: 100%;

    background: url('../images/origins-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display:block;

    position: relative;
}

.image-credit {
    text-align: left;
    color: #626262;
    font-size: .75rem;
}

/*------------------------------  End Hero Image (Origins Page) --*/

/*------------------------------  Start Hero Image (Philosophy Page) --*/

.hero-image-philosophy-container {
    height: 70vh;
    max-width: 100%;

    background: url('../images/philosophy-heroimage-test.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display:block;

    position: relative;
}

/*------------------------------  End Hero Image (Philosophy Page) --*/

/*------------------------------  Start Hero Image (Contact Page) --*/

.hero-image-contact-container {
    height: 70vh;
    max-width: 100%;

    background: url('../images/contact-heroimage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display:block;

    position: relative;
}

/*------------------------------  End Hero Image (Contact Page) --*/

/*------------------------------  Start Page Content --*/

.page-heading {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    letter-spacing: .2rem;
    font-weight: bold;
    color: #ff9800;
    line-height: 1.15;
    margin-top: 90px;
}

.page-summary {
    font-weight: bold;
    color: #8e8e8e;
    font-size: 1.2rem;
}

.page-content {
    display: block;
    color: #fafafa;
    text-align: left;
    font-size: 1rem;
}

.page-sub-heading {
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    font-weight: bold;
    color: #ff9800;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content-image {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
    display: block;
    margin-top: 2rem;
}

@media screen and (min-width: 575px) {
.container-right {
    float: right;
    margin: .3em 0 1.5em 1.5em;
    width: 45%;
    }
}

@media screen and (max-width: 575px) {
.container-right {
    margin-bottom: 2rem;
    }
}

.content-image-right {
    width: 100%;
    height: auto;
    border-radius: 2px;
    overflow: auto;
    }


@media screen and (min-width: 575px) {
    .definition-box {
    float: right;
    margin: .3em 0 1.5em 1.5em;
    width: 35%;
    }
}

.definition-box-title {
    font-family: 'Dancing Script', cursive;
    background-color: #fafafa;
    color: black;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
}

.definition-box-body p {
    background-color:#212121;
    color: #fafafa;
    padding: 10px;
    font-size: .9rem;
}

@media screen and (min-width: 575px) {
.quote-box {
    float: right;
    margin: .3em 0 1.5em 1.5em;
    width: 50%;
    }
}

.blockquote p {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: #fafafa;
    font-size: 2rem;
}

.blockquote-footer {
    color: #626262;
    font-weight: bold;
}

/*------------------------------  End Page Content --*/

/*------------------------------  Start Citations --*/

.citation-heading {
    font-family: 'Dancing Script', cursive;
    color: #ff9800;
    font-weight: bold;
}

.citation-content {
    color: #626262;
    font-weight: bold;
    font-size: .8rem;
    text-align: right;
}

/*------------------------------  End Citations --*/

/*------------------------------  Start Form --*/
.form-control {
    margin-bottom: 1rem;
}
/*------------------------------  End Form --*/