@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
    color: black;
}

footer {
    color: #000;
}



/*------------------------------ Start Hero Image --*/

.hero-image {
    height: 100vh;

    background: url('../images/bg.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
    